<div class="container">
<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Dating App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li
      *ngIf="isLoggedIn()"
       class="nav-item active">
        <a class="nav-link" href="#">Matches <span class="sr-only">(current)</span></a>
      </li>
      <li
       *ngIf="isLoggedIn()"
       class="nav-item">
        <a class="nav-link" href="#">Lists</a>
      </li>
      <li
       *ngIf="isLoggedIn()"
       class="nav-item">
        <a class="nav-link" href="#">Messages</a>
      </li>
    </ul>
    <div
      *ngIf="isLoggedIn()"
      dropdown
      class="nav-item dropdown show">
      <a
        dropdownToggle
        class="btn btn-secondary dropdown-toggle"
        href="#"
        role="button"
        id="dropdownMenuLink"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false">
        Welcome {{loggedInUser()}}
      </a>
      <div
        *dropdownMenu
        class="dropdown-menu"
        aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="#"><fa-icon [icon]="faEdit"></fa-icon> Edit Profile</a>
        <li class="divider dropdown-divider"></li>
        <a class="dropdown-item" href="#" (click)="logout()"><fa-icon [icon]="faUser"></fa-icon>Logout</a>
      </div>
    </div>
    <form
      *ngIf="!isLoggedIn()"
      #loginForm = "ngForm"
      (ngSubmit) ="login()"
      class="form-inline my-2 my-lg-0">
      <input
        [(ngModel)]="user.UserName"
        name="UserName"
        class="form-control mr-sm-2"
        type="text"
        required
        placeholder="User name"
        aria-label="User Name">
      <input
        [(ngModel)]="user.Password"
        name="Password"
        class="form-control mr-sm-2"
        type="text"
        required
        placeholder="Password"
        aria-label="Password">
      <button
        class="btn btn-outline-success my-2 my-sm-0"
        type="submit"
        [disabled] = "loginForm.invalid"
        >Login</button>
    </form>
  </div>
</nav>
</div>
